.main-section {
  margin: 0 auto;
  margin-top: 100px;
  /* margin-left: 30px; */
  padding: 0;
}

.modal-content {
  background-color: rgb(2, 2, 2);
  opacity: 0.75;
  padding: 0 18px;
  margin-top: 115px;
}

.user-img {
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

button {
  margin: 5px 0 25px;
}
