<div class="main">
  <div class="container topBox">
    <img src="../../../favicon.ico" alt="logo" height="50px" width="50px" />
    <p class="chitChat">CHIT-CHAT</p>
    <h3>Login</h3>
  </div>
  <div class="container bottomBox">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="box form-group">
        <label for="userName">User Name</label>
        <div>
          <input
            type="text"
            placeholder="Enter Your Name"
            class="form-control"
            id="userName"
            name="userName"
            [(ngModel)]="loginData.userName"
            #userNameField="ngModel"
            [class.is-invalid]="userNameField.invalid && userNameField.touched"
            pattern="^[A-Za-z0-9\ ]*$"
            minlength="3"
            required
          />
        </div>
        <small
          for="userName"
          id="userFeedback"
          class="red"
          [class.invisible]="userNameField.valid || userNameField.untouched"
          >*Invalid User Name</small
        >
      </div>

      <div class="box form-group">
        <label for="password">Password</label>
        <div>
          <input
            type="password"
            placeholder="Enter Password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="loginData.password"
            #passField="ngModel"
            [class.is-invalid]="passField.invalid && passField.touched"
            pattern="^(?=.{6,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$"
            minlength="6"
            required
          />
        </div>
        <small
          for="password"
          id="password"
          class="red"
          [class.invisible]="passField.valid || passField.untouched"
          >*Invalid Password</small
        >
      </div>

      <div class="button">
        <button
          class="btn btn-primary"
          type="submit"
          name="login"
          id="login"
          [disabled]="loginForm.form.invalid"
        >
          Login
        </button>
      </div>
      <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
    </form>
  </div>
</div>
