<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="user-list-card">
        <div style="background-color: #ededed; display: flex; padding: 10px">
          <img
            src=""
            style="
              height: 50px;
              width: 50px;
              border-radius: 50%;
              overflow: hidden;
              margin: 0 15px 0 0;
            "
            alt=""
          />
          <a type="button" style="margin-left: auto"
            ><i class="fa-solid fa-ellipsis-vertical"></i
          ></a>
        </div>
        <div class="user-card">
          <img class="avatar" />
          <p class="username"></p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat-container">
        <ng-container>
          <div class="chat-header">
            <img class="avatar" />
            <p class="username"></p>
          </div>

          <div class="chat-body">
            <div>
              <p class="message-container"></p>
            </div>
          </div>

          <div class="chat-footer">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input
                    type="text"
                    placeholder="Type a message"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <a
                  type="button"
                  style="padding: 10px; margin-right: 10px; font-size: larger"
                  ><i class="fa-regular fa-image"></i
                ></a>
                <button
                  class="btn btn-primary btn-sm px-3"
                  style="border-radius: 10px"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #popup let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="number"
            placeholder="Enter your phone number"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-primary">Login</button>
  </div>
</ng-template> -->
